<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huic.backpack.dao.BackPackMapper" >
  <resultMap id="BaseResultMap" type="com.huic.backpack.entity.BackPack" >
    <id column="pack_id" property="packId" jdbcType="INTEGER" />
    <result column="pack_val" property="packVal" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pack_id, pack_val
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pack
    where pack_id = #{packId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pack
    where pack_id = #{packId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huic.backpack.entity.BackPack" >
    insert into pack (pack_id, pack_val)
    values (#{packId,jdbcType=INTEGER}, #{packVal,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huic.backpack.entity.BackPack" >
    insert into pack
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="packId != null" >
        pack_id,
      </if>
      <if test="packVal != null" >
        pack_val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="packId != null" >
        #{packId,jdbcType=INTEGER},
      </if>
      <if test="packVal != null" >
        #{packVal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huic.backpack.entity.BackPack" >
    update pack
    <set >
      <if test="packVal != null" >
        pack_val = #{packVal,jdbcType=VARCHAR},
      </if>
    </set>
    where pack_id = #{packId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huic.backpack.entity.BackPack" >
    update pack
    set pack_val = #{packVal,jdbcType=VARCHAR}
    where pack_id = #{packId,jdbcType=INTEGER}
  </update>
</mapper>