
a:hover{text-decoration:none}
.NavRight{ float:right; line-height:100px;}
.NavRight a.r_a{ border:1px solid #ddd; padding:3px 10px; margin-left:2px; font-size:13px; color:#666;}
.NavRight a.r_a:hover{ border:1px solid #BBB; color:white;}
.box_1 {
	width:160px;
	height: 73px;
}
.box_1 a img {
    margin: 26px 0px 0 10px;
}
.NavRight .dropdown .User_Pic span{ background:#F30; position:absolute; width:15px; height:15px; line-height:15px; text-align:center; font-size:10px; border-radius:10px; border:1px solid #FFF; color:#FFF; top:32px; left:20px;}
.dropdown:hover .dropdown-menu{display:block;}
.dropdown .dropdown-menu{position:relative; top:-30px; right:0; width:130px; background:#FFF; padding:0; font-size:13px; border:1px solid #ddd; border-top:none; z-index:99; display:none;}
.dropdown .dropdown-menu a{ width:110px; display:block; padding-left:20px; height:36px; line-height:36px; color:#666; font-weight:normal;}
.dropdown .dropdown-menu a i{ margin-right:10px;}
.dropdown .dropdown-menu a span{ background:#F30; margin-left:25px; width:15px; height:15px; font-size:10px; text-align:center; line-height:15px; border-radius:10px; color:#FFF; display:inline-block; }
.dropdown .dropdown-menu a:hover{ background:#f6f6f6; color:#2974cd;}
.NavRight .dropdown a img{ width:30px; height:30px; border-radius:16px; border:1px solid #ddd; vertical-align:middle; margin:0 4px 0 0;}
.NavRight .dropdown{ position:relative;}
.dropdown li {border-bottom: 0px solid #73B6E1;}
.H2_Title{ text-align:center; margin:30px auto 40px auto; font-size:24px; background:url(images/H2_Title.png) no-repeat center;}
.more{ clear:both; padding-top:20px;}
.more a{ width:200px; height:40px; text-align:center; line-height:40px; display:block; background:#e9e9e9; margin:0 auto;}
.more a:hover{ background:#C0C0C0;}
.about {
    padding: 5em 0px 0em 0px;
}
#znsou{
	float: right;
	margin-right: 16px;
}
.search-bar{margin-right: 175px; margin-top: -34px;}
.col-md-9 {
    width: 57%;
}
.label 
{
   padding: 0.7em .6em 0.7em;
   line-height: 3;
}
#sous{float: right; width: 480px; height: 50px; margin-right: -115px;}



